<!--
Main page of the website containing the form requesting the file and algorithms to visualize.
Once the form has been submitted, the loading screen appears waiting on the finished status.
If the status is finished, the results are posted.

Author: Jamie van Eijk
-->

<!-- Setting Thymeleaf -->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Head loading the CSS packages -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Boundary Visualizer</title>

    <!-- CSS sheets -->
    <link rel="stylesheet" th:href="@{/css/foundation.css}" href="/css/foundation.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="/css/custom.css">
</head>

<body>
<!-- Loading the navbar from the template.html -->
<div th:insert="~{template :: top-bar}"></div>

<div class="Body2">
    <!-- Form Section requesting algorithms and file -->
    <div id="VisualizerPage">
        <div class='column row' id='root'>
            <h1 class='text-center'>Create Visualizations</h1>
        </div>

        <h2 class="GeneralCenter">
            Please select the algorithms you like and submit a file
        </h2>

        <div class="GeneralCenter" id="errorHeader" style="display:none">
            <h2 style="color:red;">
                *The Submitted file is not 2D and numeric, please try again*
            </h2>
        </div>

        <form enctype="multipart/form-data" id="UploadForm" name="UploadForm" class="UploadForm">

            <fieldset class="UploadFormFieldset" id="fieldset">
                <legend class="GeneralCenter">Which Algorithms would you like to visualize?</legend>

                <input id="ZeroRCheckBox" type="checkbox" value="ZeroR" name="algorithms">
                <label for="ZeroRCheckBox">ZeroR</label>
                <input id="OneRCheckBox" type="checkbox" value="OneR" name="algorithms">
                <label for="OneRCheckBox">OneR</label>
                <input id="J48CheckBox" type="checkbox" value="J48" name="algorithms">
                <label for="J48CheckBox">J48</label>
                <input id="RandomForrestCheckBox" type="checkbox" value="RandomForrest" name="algorithms">
                <label for="RandomForrestCheckBox">RandomForrest</label><br>
                <input id="RandomTreeCheckBox" type="checkbox" value="RandomTree" name="algorithms">
                <label for="RandomTreeCheckBox">RandomTree</label>
                <input id="NaiveBayesCheckBox" type="checkbox" value="NaiveBayes" name="algorithms">
                <label for="NaiveBayesCheckBox">Naive Bayes</label>
                <input id="NearestNeighborCheckBox" type="checkbox" value="NearestNeighbor" name="algorithms">
                <label for="NearestNeighborCheckBox">Nearest Neighbor</label>
                <input id="SMOCheckBox" type="checkbox" value="SMO" name="algorithms">
                <label for="SMOCheckBox">SMO</label>
            </fieldset>

            <div class="input-group">
                <span class="input-group-label">Visualizer Timer (seconds)</span>
                <input class="input-group-field" type="number" id="visualizerTimer" name="visualizerTimer"
                       min="15" value="60">
            </div>

            <h6 class="subheader">*If the visualizations seem incomplete, consider using more time.<br>
                *Less time is only recommended for small files</h6><br>

            <label for="MyFile" class="button" style="text-align: center">Choose File</label>
            <input id="MyFile" type="file" name="MyFile" accept=".csv,.arff" class="show-for-sr">
            <span id="file-chosen" class="GeneralCenter">No file chosen</span></br>

            <button id="PostBTN" class="button rounded bordered shadow secondary"
                    style="margin-top: 20px; text-align: center;">Get Visualizations</button>
            <ul class="js-errors"></ul>
        </form>
    </div>

    <!-- Results Section containing load screen and results -->
    <div id="VisualizationResults" style="display:none;">
        <h1 class="GeneralCenter">Requested Visuals:</h1>
        <!-- Loading Screen -->
        <div id="runner">
            <h1 class="GeneralCenter">Please wait while the visualizations are created..</h1>

            <div class="grid-x grid-padding-x">
                <div class="cell small-4 align-self-left">
                    <div class="TotalCenter">
                        <a class="button rounded bordered shadow secondary" href="boundary-visualizer"
                           style="margin-bottom: 50px">Stop Visualization</a><br>
                    </div>
                </div>
                <div class="cell small-4 align-self-middle">
                    <div id="WaitGame">
                        <p align="center">
                            <canvas width="400" height="400" id="game" align="right"></canvas>
                        </p>
                        <div class="GeneralCenter">
                            <h6 class="subheader">Game Controls: <br> A: Left, D: Right, W: Up, S: Down </h6><br>
                        </div>
                    </div>
                    <div class="loader" id="loader" style="display:none;"></div>
                </div>
                <div class="cell small-4 align-self-right">
                    <div class="TotalCenter">
                        <button class="button rounded bordered shadow secondary" onclick="toggleGame()">Toggle Game</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Results -->
        <div id="Finished_visuals" style="display:none;">
            <div id="Images" class="row">
            </div>
        </div>
    </div>
</div>

<!-- jQuery must be imported before Foundation -->
<script th:src="@{/js/jquery-3.5.1.min.js}" src="/js/jquery-3.5.1.min.js"></script>
<script th:src="@{/js/jquery.validate.min.js}" src="/js/jquery.validate.min.js"></script>

<!-- this will include every plugin and utility required by Foundation -->
<script th:src="@{/js/foundation.min.js}" src="/js/foundation.min.js"></script>
<script>$(document).foundation();</script>

<!-- Loading Custom Codes -->
<script th:src="@{/js/ShowResults.js}" src="/js/ShowResults.js"></script>
<script th:src="@{/js/snake.js}" src="/js/snake.js"></script>
</body>

</html>
