<!--
Contact information with email for the user to send questions

Author: Jamie van Eijk
-->

<!-- Setting Thymeleaf -->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Head loading the CSS packages -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Boundary Visualizer Home</title>

    <!-- CSS sheets -->
    <link rel="stylesheet" th:href="@{/css/foundation.css}" href="/css/foundation.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="/css/custom.css">
</head>

<body>
<!-- Loading the navbar from the template.html -->
<div th:insert="~{template :: top-bar}"></div>

<div class="Body2">
    <!-- Contact Info -->
    <div class='column row' id='root'>
        <h1 class='text-center'>Contact</h1>
        <h3 class="text-center">If you have any questions or suggestions, please fill out this form:</h3>
    </div>

    <!-- Contact form -->
    <form class="form-style-9" action="https://formspree.io/f/xnqowvgl" method="POST" id="contactForm">
        <ul>
            <li>
                <input type="text" name="name" id="id"
                       class="field-style field-split align-left" placeholder="Name" required/>
                <input type="email" name="email-address" id="email-address"
                       class="field-style field-split align-right" placeholder="Email" required/>
            </li>
            <li>
                <textarea name="message" id="message" class="field-style" placeholder="Message" required></textarea>
            </li>
            <li>
                <input type="submit" value="Send Message" id="contactFormBTN"/>
            </li>
        </ul>
        <h1 id="contactFormStatus" style="text-align: center"></h1>
        <div style="text-align: center;display: none" id="returnHome">
            <a class="button rounded bordered shadow secondary" href="home">Return to Home</a></div>
    </form>
</div>

<!-- jQuery must be imported before Foundation -->
<script th:src="@{/js/jquery-3.5.1.min.js}" src="/js/jquery-3.5.1.min.js"></script>

<!-- This will include every plugin and utility required by Foundation -->
<script th:src="@{/js/foundation.min.js}" src="/js/foundation.min.js"></script>
<script>$(document).foundation();</script>

<!-- Loading Custom Code -->
<script th:src="@{/js/ContactForm.js}" src="/js/ContactForm.js"></script>
</body>
</html>