<!--
Homepage for the website with some basic information and a start option.

Author: Jamie van Eijk
-->

<!-- Setting Thymeleaf -->
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Head loading the CSS packages -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Boundary Visualizer Home</title>

    <!-- CSS sheets -->
    <link rel="stylesheet" th:href="@{/css/foundation.css}" href="/css/foundation.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="/css/custom.css">
</head>

<body>
<!-- Loading the navbar from the template.html -->
<div th:insert="~{template :: top-bar}"></div>

<div class="Body2">
    <!-- General Information Section -->
    <div id="GeneralInfo" class="GeneralInfo">
        <div class='column row' id='root'>
            <h1 class='text-center'>The Online Weka Boundary Visualizer</h1>
        </div>

        <div class="grid-x grid-padding-x">
            <div class="cell small-4"><img src="https://waikato.github.io/weka-site/images/weka.png" alt="Weka Logo"
                                            class="ImgCentered"/>
            </div>
            <div class="cell small-4 align-self-middle">
                The Boundary Visualizer from Weka allows you to visualize the classifier decision boundaries in two dimensions,
                for any dataset that is supported by the classifiers. If you would like to utilize the Boundary Visualizer
                for yourself without downloading Weka, why not hit the tempting Get Started button below!
            </div>
        </div>

        <div class="GeneralCenter">
            <a class="button rounded bordered shadow secondary" href="boundary-visualizer">Get Started</a>
        </div>
    </div>

    <!-- Example Showcase Section -->
    <div id="ExampleImages">
        <div class='column row'>
            <h2 class='text-center'>Try Many Different Algorithms</h2>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell small-4">
                <div class="radius bordered shadow card">
                    <img src="/Images/NaiveBayes.png" alt="NaiveBayes">
                    <div class="card-section">
                        <h4>NaiveBayes</h4>
                        <p>When using NaiveBayes the borders are curvy and uncertain because of the bayesian algorithm</p>
                    </div>
                </div>
            </div>
            <div class="cell small-4 align-self-middle">
                <div class="radius bordered shadow card">
                    <img src="/Images/NearestNeighbor.png" alt="NearestNeighbor">
                    <div class="card-section">
                        <h4>NearestNeighbor</h4>
                        <p>When visualizing with NearestNeighbor there are many straight lines and no uncertainty</p>
                    </div>
                </div>
            </div>
            <div class="cell small-4 align-self-right">
                <div class="radius bordered shadow card">
                    <img src="/Images/SMO.png">
                    <div class="card-section">
                        <h4>SMO</h4>
                        <p>When visualizing with SMO the plot is darker than usual because of higher uncertainty</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery must be imported before Foundation -->
<script th:src="@{/js/jquery-3.5.1.min.js}" src="/js/jquery-3.5.1.min.js"></script>

<!-- This will include every plugin and utility required by Foundation -->
<script th:src="@{/js/foundation.min.js}" src="/js/foundation.min.js"></script>
<script>$(document).foundation();</script>

</body>
</html>