/**
Custom stylesheet including adjustments to the foundation kit mixed with custom extra's.

Author: Jamie van Eijk
*/

/* General Website Settings */

body {
    background: #f4f4f4;
}

html, body {
    height: 100%;
    margin: 0;
}

.Body2 {
    min-height: 93%;
    border-left: 50px solid #4F4F4F;
    border-right: 50px solid #4F4F4F
}

/* Adjustments to foundation task bar */
.top-bar {
    background: #333;
}

.top-bar, .top-bar ul {
    background-color: #333;
}

.menu .menu-text {
    color: white;
    padding: 0rem 1rem;
}

a {
    color: white;
}

/* CSS for centering different types of div */
.ImgCentered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 325px;
}

.GeneralCenter {
    text-align: center;
}

.TotalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 75px
}

/* General Button CSS */
.button.secondary {
    background-color: #1779ba;
    width: 230px;
}

.button.secondary:hover {
    background-color: #146AA3;
}

/* Home page specific CSS */
.GeneralInfo {
    padding-bottom: 150px;
}

/* Boundary Visualizer specific CSS */
.UploadForm {
    width: 600px;
    margin: 1px auto 16px;
}

.UploadFormFieldset {
    margin: 1.125rem 0;
    padding: 1.25rem;
    border: 1px solid #cacaca;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #1779ba;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

canvas {
    height: 400px;
    width: 400px;
    border: 1px solid #4F4F4F;
    margin-top: 50px;
    margin-bottom: 10px;
}

/* Contact form specific CSS | Source: https://www.sanwebe.com/2014/08/css-html-forms-designs */
.form-style-9 {
    max-width: 450px;
    background: #FAFAFA;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    border: 6px solid #305A72;
}
.form-style-9 ul {
    padding:0;
    margin:0;
    list-style:none;
}
.form-style-9 ul li {
    display: block;
    margin-bottom: 10px;
    min-height: 35px;
}
.form-style-9 ul li  .field-style {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}.form-style-9 ul li  .field-style:focus {
     box-shadow: 0 0 5px #B0CFE0;
     border:1px solid #B0CFE0;
 }
.form-style-9 ul li .field-split {
    width: 49%;
}
.form-style-9 ul li .field-full {
    width: 100%;
}
.form-style-9 ul li input.align-left {
    float:left;
}
.form-style-9 ul li input.align-right {
    float:right;
}
.form-style-9 ul li textarea {
    width: 100%;
    height: 100px;
}
.form-style-9 ul li input[type="button"],
.form-style-9 ul li input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
    box-shadow: inset 0px 1px 0px 0px #146aa3;
    background-color: #1779ba;
    border: 1px solid #17445E;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    padding: 8px 18px;
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover,
.form-style-9 ul li input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
}